<div th:fragment="access" xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" th:href="@{../css/access.css}"/>
    <div class="access-block">
        <div class="scene">
            <div class="overlay"></div>
            <div class="overlay"></div>
            <div class="overlay"></div>
            <div class="overlay"></div>
            <span class="bg-403">403</span>
            <div class="text">
                <span class="hero-text"></span>
                <span class="msg"><span>Sie</span> haben keinen Zutritt.</span>
                <span class="support">
      <a href="mailto: admin@noe.at">Bitte kontaktieren sie einen Administrator</a>
    </span>
            </div>
            <div class="lock"></div>
        </div>
    </div>
</div>
