<div th:fragment="admin" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="view-block">
        <!-- ADD Modal -->
        <form th:action="@{/admin}" th:object="${user}" method="post" class="needs-validation" id="addUser" novalidate>
            <div class="modal fade form-row" id="addEditModalCenter" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Benutzer Formular</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="firstName" class="control-label">Vorname</label>
                                <input type="text" id="firstName" name="firstName" class="form-control"
                                       th:field="*{firstName}" required/>
                                <div class="invalid-feedback">
                                    Bitte geben Sie den Vornamen ein!
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastName" class="control-label">Nachname</label>
                                <input type="text" id="lastName" name="lastName" class="form-control"
                                       th:field="*{lastName}"
                                       required/>
                                <div class="invalid-feedback">
                                    Bitte geben Sie den Nachnamen ein!
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label">E-mail</label>
                                <input type="email" name="email" id="email" class="form-control" th:field="*{email}"
                                       required/>
                                <div class="invalid-feedback">
                                    Bitte geben Sie eine Email-Adresse ein!
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">Passwort</label>
                                <input id="password" name="password" class="form-control" type="password"
                                       th:field="*{password}"
                                       required/>
                                <div class="invalid-feedback">
                                    Bitte geben Sie ein Passwort ein!
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="role">Rolle</label>
                                <select class="form-control" id="role" name="role" th:field="*{role}" required>
                                    <option value="">Wählen sie eine Rolle:</option>
                                    <option value="User">User</option>
                                    <option value="Admin">Admin</option>
                                    <option value="Hotel">Hotel</option>
                                </select>
                                <div class="invalid-feedback">Eingabe ist fehlerhaft</div>
                            </div>
                            <div class="form-group" id="rightToDeleteFormGroup">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="rightToDelete"
                                           name="rightToDelete"
                                           th:field="*{rightToDelete}">
                                    <label class="form-check-label" for="rightToDelete">
                                        Berechtigung zum Löschen von Hoteldaten erteilen?
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="hotelIdFormGroup">
                                <label for="hotelId" class="control-label">Hotel-Id</label>
                                <input type="number" id="hotelId" name="hotelId" min="1" max="99999999999"
                                       class="form-control"
                                       th:field="*{hotelId}"
                                       placeholder="Bitte geben Sie eine HotelId ein!"
                                       aria-label="HotelId"
                                       aria-describedby="basic-addon2">
                            </div>
                            <div class="form-group" id="monthlyPdfSubscriptionFormGroup">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="monthlyPdfSubscription"
                                           name="monthlyPdfSubscription"
                                           th:field="*{monthlyPdfSubscription}">
                                    <label class="form-check-label" for="monthlyPdfSubscription">
                                        Statistik monatlich versenden?
                                    </label>
                                </div>
                            </div>
                            <input type="hidden" id="action" name="action" th:field="*{action}" value="">
                            <input type="hidden" id="id" name="id" th:field="*{id}" value="">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                                <button type="submit" class="btn btn-success" value="save">Speichern</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- DELETE MODAL -->
        <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Benutzer löschen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Wollen sie den Benutzer wirklich löschen?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-danger" id="delRef">Ja</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nein</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary add-button nAdminBtn" data-toggle="modal"
                data-target="#addEditModalCenter">
         <span tooltip="User hinzuf&uuml;gen" flow="right"><svg class="bi bi-plus-square" width="1em" height="1em"
                                                                viewBox="0 0 16 16"
                                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
                  clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z"
                  clip-rule="evenodd"/>
            <path fill-rule="evenodd"
                  d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z"
                  clip-rule="evenodd"/>
        </svg></span>
        </button>

        <!-- Button backup download -->
        <a type="button" class="btn btn-secondary backup-button bAdminBtn"
           th:href="@{admin/createAndDownloadBackup}">
                            <span tooltip="Backup herunterladen" flow="right"><svg class="bi bi-download" width="1em"
                                                                                   height="1em"
                                                                                   viewBox="0 0 16 16"
                                                                                   fill="currentColor"
                                                                                   xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
                                <path fill-rule="evenodd"
                                      d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
                                </svg>
                            </span>
        </a>

        <!-- Button backup send per email -->
        <a type="button" class="btn btn-dark send-button sendAdminBtn"
           th:href="@{admin/backupPerEmail}">
                            <span tooltip="Backup per Email senden" flow="right"><svg class="bi bi-envelope" width="1em"
                                                                                      height="1em"
                                                                                      viewBox="0 0 16 16"
                                                                                      fill="currentColor"
                                                                                      xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                                <path d="M.05 3.555C.017 3.698 0 3.847 0 4v.697l5.803 3.546L0 11.801V12c0 .306.069.596.192.856l6.57-4.027L8 9.586l1.239-.757 6.57 4.027c.122-.26.191-.55.191-.856v-.2l-5.803-3.557L16 4.697V4c0-.153-.017-.302-.05-.445L8 8.414.05 3.555z"/>
                                </svg>
                            </span>
        </a>

        <table id="dtBasic" class="table table-striped table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="ID">#</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Vorname">Vorname</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Nachname">Nachname</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Email Adresse">E-mail</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Rolle">Rolle</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Berechtigung um Daten zu löschen">
                        Löschrecht
                    </div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Statistik Abo">
                        Statistik Abo
                    </div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top"
                         title="Limitierung der User mit Rolle Hotel auf zugewiesene HotelId">HotelId
                    </div>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <th scope="row"><span th:text="${user.getId()}"></span></th>
                <td><span th:text="${user.getFirstName()}"></span></td>
                <td><span th:text="${user.getLastName()}"></span></td>
                <td><span th:text="${user.getEmail()}"></span></td>
                <td><span th:text="${user.getRoles().get(0).getName()}"></span></td>
                <td><span> <input type="checkbox" th:checked="${user.isRightToDelete()}" disabled/></span></td>
                <td><span> <input type="checkbox" th:checked="${user.isMonthlyPdfSubscription()}" disabled/></span></td>
                <td>
                <span th:if="${user.getHotelId() == null}" tooltip="Nur für die Rolle 'Hotel' möglich" flow="right">
                    <svg class="bi bi-x-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                            d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                      <path fill-rule="evenodd"
                            d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                      <path fill-rule="evenodd"
                            d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg>
                </span>
                    <span th:if="${user.getHotelId() != 0}" th:text="${user.getHotelId()}"></span></td>
                <td>
                    <a type="button" class="btn btn-warning eAdminBtn"
                       th:href="@{admin/findOne/(id=${user.getId()})}"><span tooltip="Bearbeiten" flow="left"><svg
                            class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd"
                          d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z"
                          clip-rule="evenodd"/>
                </svg></span></a>

                    <a type="button" class="btn btn-danger delAdminBtn"
                       th:href="@{admin/delete/(id=${user.getId()})}"><span tooltip="User l&ouml;schen" flow="left"><svg
                            class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                    <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                          clip-rule="evenodd"/>
                </svg></span></a>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:if="${action == 'ADD'}" class="alert alert-success" role="alert">
            <span th:text="${message}"></span>
        </div>
        <div th:if="${action == 'DELETE'}" class="alert alert-danger" role="alert">
            <span th:text="${message}"></span>
        </div>
        <div th:if="${action == 'UPDATE'}" class="alert alert-info" role="alert">
            <span th:text="${message}"></span>
        </div>
        <div th:if="${action == 'ERROR'}" class="alert alert-danger" role="alert">
            <span th:text="${message}"></span>
        </div>
    </div>

    <!-- Info Modal Content -->
    <div class="modal fade" id="hilfe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Information zu den Buttons</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-1 p-3 mb-2 bg-primary text-white">
                                        <svg class="bi bi-plus-square" width="1em" height="1em"
                                             viewBox="0 0 16 16"
                                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
                                                  clip-rule="evenodd"/>
                                            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z"
                                                  clip-rule="evenodd"/>
                                            <path fill-rule="evenodd"
                                                  d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                    </div>
                                    <div class="col-md-11 ml-auto">Hier können Sie den User hinzufügen.</div>
                                </div>


                                <div class="row">
                                    <div class="col-md-1 ml-auto p-3 mb-2 btn btn-secondary text-white">
                                        <svg class="bi bi-download" width="1em"
                                             height="1em"
                                             viewBox="0 0 16 16"
                                             fill="currentColor"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
                                            <path fill-rule="evenodd"
                                                  d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
                                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
                                        </svg>
                                    </div>
                                    <div class="col-md-11 ml-auto">Hier können Sie das Backup als PDF herunterladen.</div>
                                </div>

                                <div class="row">
                                    <div class="col-md-1 ml-auto p-3 mb-2 btn btn-dark text-white">
                                        <svg class="bi bi-envelope" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                                            <path d="M.05 3.555C.017 3.698 0 3.847 0 4v.697l5.803 3.546L0 11.801V12c0 .306.069.596.192.856l6.57-4.027L8 9.586l1.239-.757 6.57 4.027c.122-.26.191-.55.191-.856v-.2l-5.803-3.557L16 4.697V4c0-.153-.017-.302-.05-.445L8 8.414.05 3.555z"/>
                                        </svg>
                                    </div>
                                    <div class="col-md-11 ml-auto">Hier können Sie das Backup per E-Mail erhalten.</div>
                                </div>


                                <div class="row">
                                    <div class="col-md-1 ml-auto p-3 mb-2 btn btn-warning text-white">
                                        <svg
                                                class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="black"
                                                xmlns="http://www.w3.org/2000/svg">
                                            <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd"
                                                  d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                    </div>
                                    <div class="col-md-11 ml-auto">Hier können Sie Ihren User bearbeiten.</div>
                                </div>


                                <div class="row">
                                    <div class="col-md-1 ml-auto p-3 mb-2 btn btn-danger">
                                        <svg
                                                class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                                xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                                            <path fill-rule="evenodd"
                                                  d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                                                  clip-rule="evenodd"/>
                                        </svg>

                                    </div>
                                    <div class="col-md-11 ml-auto">Hier können Sie Ihren User löschen.</div>
                                </div>
                            </div>

            </div>
        </div>
    </div>
</div>

</div>
