<div th:fragment="hotel" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="view-block">
        <!-- ADD Modal -->
        <form th:action="@{/hotel}" th:object="${hotel}" method="post" class="needs-validation" id="addHotel"
              novalidate>
            <div class="modal fade" id="addEditModalCenter" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Hotel Formular</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Name</span>
                                </div>
                                <input type="text" id="name" name="name" class="form-control"
                                       placeholder="Bitte geben Sie den Hotelnamen ein!"
                                       aria-label="Name"
                                       aria-describedby="basic-addon1" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2">Adresse</span>
                                </div>
                                <input type="text" id="address" name="address" class="form-control"
                                       placeholder="Bitte geben Sie die Adresse ein!"
                                       aria-label="Adresse"
                                       aria-describedby="basic-addon2" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">PLZ</span>
                                </div>
                                <input type="text" id="cityCode" name="cityCode" class="form-control"
                                       placeholder="Bitte geben Sie die Postleitzahl ein und verwenden Sie dieses Format: A-1234!"
                                       pattern="[A]{1}-[0-9]{4}"
                                       aria-label="Plz"
                                       aria-describedby="basic-addon2" required>
                                <div class="invalid-feedback">Bitte geben Sie die Postleitzahl ein und verwenden Sie
                                    dieses Format: A-1234!
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon4">Stadt</span>
                                </div>
                                <input type="text" id="city" name="city" class="form-control"
                                       placeholder="Bitte geben Sie die Stadt ein!"
                                       aria-label="Stadt"
                                       aria-describedby="basic-addon2" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon5">Besitzer</span>
                                </div>
                                <input type="text" id="owner" name="owner" class="form-control"
                                       placeholder="Bitte geben Sie den Besitzer ein!"
                                       aria-label="Besitzer"
                                       aria-describedby="basic-addon2" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon6">Telefon</span>
                                </div>
                                <input type="number" id="phone" name="phone" class="form-control" min="0"
                                       placeholder="Bitte geben Sie die Telefonnummer ein!"
                                       aria-label="Telefon"
                                       aria-describedby="basic-addon2" required>
                                <div class="invalid-feedback">Es sind nur Zahlen erlaubt</div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon7">Kontakt</span>
                                </div>
                                <input type="text" id="contact" name="contact" class="form-control"
                                       placeholder="Bitte geben Sie den Kontakt ein!"
                                       aria-label="Kontakt"
                                       aria-describedby="basic-addon2" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon8">Website</span>
                                </div>
                                <input type="text" id="url" name="url" class="form-control"
                                       placeholder="Bitte geben Sie die Website ein!"
                                       aria-label="Website"
                                       aria-describedby="basic-addon2" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon9">Anzahl Räume</span>
                                </div>
                                <input type="number" id="noRooms" name="noRooms" min="0" class="form-control"
                                       placeholder="Bitte geben Sie die Anzahl der Räume ein!"
                                       aria-label="Raume"
                                       aria-describedby="basic-addon2" required>
                                <div class="invalid-feedback">Es sind nur Zahlen erlaubt</div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon10">Anzahl Betten</span>
                                </div>
                                <input type="number" id="noBeds" name="noBeds" min="0" class="form-control"
                                       placeholder="Bitte geben Sie die Anzahl der Betten ein!"
                                       aria-label="Betten"
                                       aria-describedby="basic-addon2" required>
                                <div class="invalid-feedback">Es sind nur Zahlen erlaubt</div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon11">Anzahl Sterne</span>
                                </div>
                                <select class="form-control" id="category" name="category" th:field="*{category}"
                                        required>
                                    <option value="">Wählen Sie eine Kategorie aus:</option>
                                    <option value="ONE">*</option>
                                    <option value="TWO">**</option>
                                    <option value="THREE">***</option>
                                    <option value="FOUR">****</option>
                                    <option value="FIVE">*****</option>
                                </select>
                                <div class="invalid-feedback">Bitte wählen Sie eine Kategorie aus!</div>
                            </div>

                            <div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="familyFriendly"
                                           name="familyFriendly">
                                    <label class="familyFriendly" for="familyFriendly">Familienfreundlich</label>
                                </div>

                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="dogFriendly" name="dogFriendly">
                                    <label class="dogFriendly" for="dogFriendly">Hundefreundlich</label>
                                </div>

                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="spa" name="spa">
                                    <label class="Spa" for="Spa">Spa</label>
                                </div>

                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="fitness" name="fitness">
                                    <label class="Fitness" for="Fitness">Fitness</label>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" id="action" name="action" th:field="*{action}" value="">
                        <input type="hidden" id="id" name="id" th:field="*{id}" value="">

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                            <button type="submit" class="btn btn-success" value="save">Speichern</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- DELETE MODAL -->
        <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Hotel löschen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Wollen Sie das Hotel wirklich löschen?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-danger" id="delRef">Ja</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nein</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary add-button nHotelBtn" data-toggle="modal"
                data-target="#addEditModalCenter">
        <span tooltip="Hotel hinzuf&uuml;gen" flow="right"><svg class="bi bi-plus-square" width="1em" height="1em"
                                                                viewBox="0 0 16 16"
                                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
                  clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z"
                  clip-rule="evenodd"/>
            <path fill-rule="evenodd"
                  d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z"
                  clip-rule="evenodd"/>
        </svg></span>
        </button>

        <table id="dtBasic" class="table table-striped table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="ID">#</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Name">Name</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Anzahl an Sternen">Sterne</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Adresse">Adresse</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Postleitzahl">Plz</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Stadt">Stadt</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Besitzer">Besitzer</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Website">Website</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Gesamtanzahl der Hotelzimmer">Zimmer</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Gesamtanzahl an Betten">Betten</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Familienfreundlich">Familien</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Hundefreundlich">Hunde</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Spa">Spa</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Fitness">Fitness</div>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hotel : ${hotels}">
                <th scope="row"><span th:text="${hotel.getId()}"></span></th>
                <td><span th:text="${hotel.getName()}"></span></td>
                <td><span th:text="${hotel.getCategory()}"></span></td>
                <td><span th:text="${hotel.getAddress()}"></span></td>
                <td><span th:text="${hotel.getCityCode()}"></span></td>
                <td><span th:text="${hotel.getCity()}"></span></td>
                <td><span th:text="${hotel.getOwner()}"></span></td>
                <td><span th:text="${hotel.getUrl()}"></span></td>
                <td><span th:text="${hotel.getNoRooms()}"></span></td>
                <td><span th:text="${hotel.getNoBeds()}"></span></td>
                <td><span><input type="checkbox" th:checked="${hotel.isFamilyFriendly()}" disabled></span></td>
                <td><span> <input type="checkbox" th:checked="${hotel.isDogFriendly()}" disabled></span></td>
                <td><span> <input type="checkbox" th:checked="${hotel.isSpa()}" disabled></span></td>
                <td><span> <input type="checkbox" th:checked="${hotel.isFitness()}" disabled></span></td>
                <td style="white-space:nowrap;">
                    <a type="button" class="btn btn-warning eHotelBtn"
                       th:href="@{hotel/findOne/(id=${hotel.getId()})}"><span tooltip="Bearbeiten" flow="left"><svg
                            class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd"
                          d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z"
                          clip-rule="evenodd"/>
                </svg></span></a>
                    <a type="button" class="btn btn-info" th:href="@{occupancy(id=${hotel.getId()})}"><span
                            tooltip="Belegungsdaten anzeigen" flow="left"><svg class="bi bi-info-square" width="1em"
                                                                               height="1em"
                                                                               viewBox="0 0 16 16" fill="currentColor"
                                                                               xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z"
                          clip-rule="evenodd"/>
                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                    <circle cx="8" cy="4.5" r="1"/>
                </svg></span></a>
                    <a type="button" class="btn btn-success statHotelBtn"
                       th:href="@{hotel/pdfReport/(id=${hotel.getId()})}"><span tooltip="Statistik exportieren"
                                                                                flow="left">
                    <svg class="bi bi-bar-chart-fill" width="1em" height="1em" viewBox="0 0 16 16"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <rect width="4" height="5" x="1" y="10" rx="1"/>
                                <rect width="4" height="9" x="6" y="6" rx="1"/>
                                <rect width="4" height="14" x="11" y="1" rx="1"/>
                    </svg></span>
                    </a>
                    <a type="button" class="btn btn-danger delHotelBtn"
                       th:if="${actualUser.getSpecificRole() == 'User' && actualUser.isRightToDelete()}"
                       th:href="@{hotel/delete/(id=${hotel.getId()})}"><span tooltip="Hotel l&ouml;schen" flow="left">
                        <svg
                                class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                    <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                          clip-rule="evenodd"/>
                </svg></span></a>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:if="${action == 'ADD'}" class="alert alert-success" role="alert">
            <span th:text="${message}"></span>
        </div>
        <div th:if="${action == 'DELETE'}" class="alert alert-danger" role="alert">
            <span th:text="${message}"></span>
        </div>
        <div th:if="${action == 'UPDATE'}" class="alert alert-info" role="alert">
            <span th:text="${message}"></span>
        </div>
    </div>

    <!-- Info Modal Content -->
    <div class="modal fade" id="hilfe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Information zu den Buttons</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-1 p-3 mb-2 bg-primary text-white">
                                <svg class="bi bi-plus-square" width="1em" height="1em"
                                     viewBox="0 0 16 16"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
                                          clip-rule="evenodd"/>
                                    <path fill-rule="evenodd"
                                          d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z"
                                          clip-rule="evenodd"/>
                                    <path fill-rule="evenodd"
                                          d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </div>
                            <div class="col-md-11 ml-auto">
                                <div style="position: relative; top: 18px !important;">Hier können Sie Ihr Hotel hinzufügen.
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1 ml-auto p-3 mb-2 bg-warning text-dark">
                                <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16"
                                     fill="evenodd" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd"
                                          d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </div>
                            <div class="col-md-11 ml-auto">
                                <div style="position: relative; top: 18px !important;">Hier können Sie Ihre Hoteldaten
                                    ändern.
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1 ml-auto p-3 mb-2 bg-info text-white">
                                <svg class="bi bi-info-square" width="1em" height="1em" viewBox="0 0 16 16"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z"
                                          clip-rule="evenodd"/>
                                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                    <circle
                                            cx="8" cy="4.5" r="1"/>
                                </svg>
                            </div>
                            <div class="col-md-11 ml-auto">
                                <div style="position: relative; top: 18px !important;">Hier werden Ihre Belegungsdaten
                                    angezeigt.
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1 ml-auto p-3 mb-2 bg-success text-white">
                                <svg class="bi bi-bar-chart-fill" width="1em" height="1em" viewBox="0 0 16 16"
                                     fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="4" height="5" x="1" y="10" rx="1"/>
                                    <rect width="4" height="9" x="6" y="6" rx="1"/>
                                    <rect width="4" height="14" x="11" y="1" rx="1"/>
                                </svg>

                            </div>
                            <div class="col-md-11 ml-auto">
                                <div style="position: relative; top: 18px !important;">Hier können Sie Ihre
                                    Belegungsdaten als PDF exportieren.
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="btn btn-danger"
                                 style="position: relative; height: 50px !important; width: 40px !important;"
                                 th:if="${actualUser.getSpecificRole() == 'User' && actualUser.isRightToDelete()}"
                                 th:href="@{hotel/delete/(id=${hotel.getId()})}">

                                <svg color="white" class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                                    <path fill-rule="evenodd"
                                          d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                                          clip-rule="evenodd"/>
                                </svg>

                                <div style="position: relative; top:-18px; margin-left: 40px; text-align: left; width: 400px; color: black;">
                                    Hier können Sie Ihr Hotel löschen.
                                </div>
                            </div>
                            <div class="col-md-11 ml-auto">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>