<div th:fragment="occupancy" xmlns:th="http://www.w3.org/1999/xhtml">

    <div th:fragment="assets" th:remove="tag">
        <link rel="stylesheet" th:href="@{../css/chartist.min.css}"/>
        <script type="text/javascript" th:src="@{js/chartist.min.js}"></script>
        <script th:inline="javascript">
            var occupancies = [[${occupancies}]];
            var years = [[${years}]];
        </script>
    </div>
    <div class="view-block">

        <!-- ADD Modal -->
        <form th:action="@{/occupancy}" th:object="${occupancy}" method="post" class="needs-validation"
              id="addOccupancy"
              novalidate>
            <div class="modal fade" id="addEditModalCenter" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Belegungsdaten Formular</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Anzahl Räume</span>
                                </div>
                                <input type="number" id="rooms" name="rooms" min="0" class="form-control"
                                       placeholder="Bitte geben Sie die Anzahl der Räume ein!"
                                       aria-label="rooms"
                                       aria-describedby="basic-addon2" required>
                                <div class="invalid-feedback">Es sind nur Zahlen erlaubt</div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2">Anzahl gebuchter Räume</span>
                                </div>
                                <input type="number" id="usedRooms" name="usedRooms" min="0" class="form-control"
                                       placeholder="Bitte geben Sie die Anzahl der gebuchten Räume ein!"
                                       aria-label="usedRooms"
                                       aria-describedby="basic-addon2" required>
                                <div class="invalid-feedback">Es sind nur Zahlen erlaubt</div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">Anzahl Betten</span>
                                </div>
                                <input type="number" id="beds" name="beds" min="0" class="form-control"
                                       placeholder="Bitte geben Sie die Anzahl der Betten ein!"
                                       aria-label="beds"
                                       aria-describedby="basic-addon2" required>
                                <div class="invalid-feedback">Es sind nur Zahlen erlaubt</div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon4">Anzahl gebuchter Betten</span>
                                </div>
                                <input type="number" id="usedBeds" name="usedBeds" min="0" class="form-control"
                                       placeholder="Bitte geben Sie die Anzahl der gebuchten Betten ein!"
                                       aria-label="usedBeds"
                                       aria-describedby="basic-addon2" required>
                                <div class="invalid-feedback">Es sind nur Zahlen erlaubt</div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon5">Jahr</span>
                                </div>
                                <input type="number" id="year" name="year" min="0" max="9999" class="form-control"
                                       placeholder="Bitte geben Sie das Jahr ein!"
                                       aria-label="year"
                                       aria-describedby="basic-addon2" required>
                                <div class="invalid-feedback">Es sind nur vierstellige Zahlen erlaubt</div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon6">Monat</span>
                                </div>
                                <input type="number" id="month" name="month" min="0" max="12" class="form-control"
                                       placeholder="Bitte geben Sie das Jahr ein!"
                                       aria-label="rooms"
                                       aria-describedby="basic-addon2" required>
                                <div class="invalid-feedback">Die maximale Anzahl an Monaten beträgt 12.</div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                          id="basic-addon7">Anzahl der internationalen Gäste</span>
                                </div>
                                <input type="number" id="internationalGuests" name="internationalGuests" min="0"
                                       class="form-control"
                                       placeholder="Bitte geben Sie die Anzahl der internationalen Gäste ein!"
                                       aria-label="rooms"
                                       aria-describedby="basic-addon2" required>
                                <div class="invalid-feedback">Es sind nur Zahlen erlaubt</div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                          id="basic-addon8">Nationalität der Mehrheit der Gäste</span>
                                </div>
                                <input type="text" id="nationality" name="nationality" class="form-control"
                                       placeholder="Bitte geben Sie die Nationalität der Mehrheit der Gäste ein!"
                                       aria-label="Besitzer"
                                       aria-describedby="basic-addon2" required>
                            </div>

                            <input type="hidden" id="action" name="action" th:field="*{action}" value="">
                            <input type="hidden" id="id" name="id" th:field="*{id}" value="">
                            <input type="hidden" id="hotelId" name="id" th:field="*{hotelId}" value="">

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                                <button type="submit" class="btn btn-success" value="save">Speichern</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- DELETE MODAL -->
        <div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Belegungsdaten löschen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Wollen Sie die Belegungsdaten wirklich löschen?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-danger" id="delRef">Ja</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nein</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card hotel-detail-block">
            <h5 class="card-header text-center" th:text="${actualHotel.getName()}"></h5>
            <div class="card-body pb-0">

                <div class="d-flex">
                    <div class="p-2 flex-fill">
                        <dl class="row">
                            <dt class="col-sm-4 text-truncate">Besitzer</dt>
                            <dd class="col-sm-8"><span th:text="${actualHotel.getOwner()}"></span></dd>
                        </dl>
                    </div>
                    <div class="p-2 flex-fill">
                        <dl class="row">
                            <dt class="col-sm-5 text-truncate">Sterne</dt>
                            <dd class="col-sm-7"><span th:text="${actualHotel.getCategory()}"></span></dd>
                        </dl>
                    </div>
                    <div class="p-2 flex-fill">
                        <dl class="row">
                            <dt class="col-sm-3 text-truncate">Anschrift</dt>
                            <dd class="col-sm-9"><span
                                    th:text="${actualHotel.getCityCode()}"></span> - <span
                                    th:text="${actualHotel.getCity()}"></span> - <span
                                    th:text="${actualHotel.getAddress()}"></span></dd>
                        </dl>
                    </div>

                    <div class="p-2 flex-fill">
                        <dl class="row">
                            <dt class="col-sm-3 text-truncate">Webseite</dt>
                            <dd class="col-sm-9"><a th:href="|http://${actualHotel.getUrl()}|"
                                                    th:text="${actualHotel.getUrl()}"/></dd>
                            </span> </a></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-top my-3"></div>


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary add-button nOccupancyBtn" data-toggle="modal"
                data-target="#addEditModalCenter">
        <span tooltip="Belegungsdaten hinzuf&uuml;gen" flow="right"><svg class="bi bi-plus-square" width="1em"
                                                                         height="1em"
                                                                         viewBox="0 0 16 16"
                                                                         fill="currentColor"
                                                                         xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
                  clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z"
                  clip-rule="evenodd"/>
            <path fill-rule="evenodd"
                  d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z"
                  clip-rule="evenodd"/>
        </svg></span>
        </button>

        <table id="dtOccupancy" class="table table-striped table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="ID">#</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Jahr">Jahr</div>
                </th>
                <th scope="col" class="thMax">
                    <div data-toggle="tooltip" data-placement="top" title="Monat">Monat</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Gesamtanzahl der Hotelzimmer">Zimmer</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Gebuchte Hotelzimmer">Gebuchte Zimmer</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Gesamtanzahl der Betten">Betten</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Gebuchte Betten">Gebuchte Betten</div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top" title="Anzahl Internationaler Gäste">Int. Gäste
                    </div>
                </th>
                <th scope="col">
                    <div data-toggle="tooltip" data-placement="top"
                         title="Die Häufigste Nationalität der Internationalen Gäste">Nationalität
                    </div>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="occupancy : ${occupancies}">
                <th scope="row"><span th:text="${occupancy.getId()}"></span></th>
                <td><span th:text="${occupancy.getYear()}"></span></td>
                <td><span th:text="${occupancy.getMonth()}"></span></td>
                <td><span th:text="${occupancy.getRooms()}"></span></td>
                <td><span th:text="${occupancy.getUsedRooms()}"></span></td>
                <td><span th:text="${occupancy.getBeds()}"></span></td>
                <td><span th:text="${occupancy.getUsedBeds()}"></span></td>
                <td><span th:text="${occupancy.getInternationalGuests()}"></span></td>
                <td><span th:text="${occupancy.getNationality()}"></span></td>
                <td style="white-space:nowrap;">
                    <a type="button" class="btn btn-warning eOccupancyBtn"
                       th:href="@{occupancy/findOne/(id=${occupancy.getId()})}"><span tooltip="Bearbeiten" flow="left"><svg
                            class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd"
                          d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z"
                          clip-rule="evenodd"/>
                </svg></span></a>

                    <a type="button" class="btn btn-danger delOccupancyBtn"
                       th:href="@{occupancy/delete/(id=${occupancy.getId()})}"><span tooltip="Occupancy l&ouml;schen"
                                                                                     flow="left"><svg
                            class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                    <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                          clip-rule="evenodd"/>
                </svg></span></a>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:if="${action == 'ADD'}" class="alert alert-success" role="alert">
            <span th:text="${message}"></span>
        </div>
        <div th:if="${action == 'DELETE'}" class="alert alert-danger" role="alert">
            <span th:text="${message}"></span>
        </div>
        <div th:if="${action == 'UPDATE'}" class="alert alert-info" role="alert">
            <span th:text="${message}"></span>
        </div>

        <div class="border-top my-3"></div>

        <div class="accordion chart-block" id="accordionExample">

            <div class="card" th:each="year : ${years}">
                <div class="card-header" th:id="'heading' + ${year}">
                    <h2 class="mb-0 text-center">
                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                th:data-target="'#collapse_' + ${year}" aria-expanded="true"
                                th:aria-controls="'collapse_' + ${year}" th:onClick="'generateStats(' + ${year} + ')'">
                            <span th:text="${year}" class="text-center"></span>
                        </button>
                    </h2>
                </div>
                <div th:id="'collapse_' + ${year}" class="collapse" th:aria-labelledby="'heading' + ${year}"
                     data-parent="#accordionExample">
                    <div class="card-body" th:id="'collapseBody_' + ${year}">
                        <div class="occupancyStatsId d-inline-flex bd-highlight">

                            <div class="d-flex flex-wrap justify-content-start">
                                <div class="p-2 bd-highlight" align="center">
                                    <p>Anzahl Zimmer:</p>
                                    <div class="ct-chart barChart" th:id="chart-rooms_+ ${year}"></div>
                                </div>
                                <div class="p-2 bd-highlight" align="center">
                                    <p>Gebuchte Zimmer:</p>
                                    <div class="ct-chart barChart" th:id="chart-usedRooms_+ ${year}"></div>
                                </div>
                                <div class="p-2 bd-highlight" align="center">
                                    <p>Anzahl Internationale Gäste:</p>
                                    <div class="ct-chart barChart" th:id="chart-intGuests_+ ${year}"></div>
                                </div>
                                <div class="p-2 bd-highlight" align="center">
                                    <p>Anzahl Betten</p>
                                    <div class="ct-chart barChart" th:id="chart-beds_+ ${year}"></div>
                                </div>
                                <div class="p-2 bd-highlight" align="center">
                                    <p>Gebuchte Betten</p>
                                    <div class="ct-chart barChart" th:id="chart-usedBeds_+ ${year}"></div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end flex-grow-1 pr-lg-5">

                                <div class="p-2 bd-highlight" align="center">
                                    <p>Nationality</p>
                                    <div class="ct-chart pieChart" th:id="chart-nat_+ ${year}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body hidden" th:id="'hiddenCollapseBody_' + ${year}">
                        Es gibt nicht genug Belegeungsdaten um für dieses Jahr eine Statistik zu erstellen.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Info Modal Content -->
    <div class="modal fade" id="hilfe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Information zu den Buttons</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-1 p-3 mb-2 bg-primary text-white">
                                <svg class="bi bi-plus-square" width="1em" height="1em"
                                     viewBox="0 0 16 16"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
                                          clip-rule="evenodd"/>
                                    <path fill-rule="evenodd"
                                          d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z"
                                          clip-rule="evenodd"/>
                                    <path fill-rule="evenodd"
                                          d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </div>
                            <div class="col-md-11 ml-auto">Hier können Sie Ihre Belegungsdaten hinzufügen.</div>
                        </div>

                        <div class="row">
                            <div class="col-md-1 ml-auto p-3 mb-2 btn btn-warning text-white">
                                <svg
                                        class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16"
                                        fill="black"
                                        xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd"
                                          d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </div>
                            <div class="col-md-11 ml-auto">Hier können Sie Ihre Belegungsdaten bearbeiten.</div>
                        </div>


                        <div class="row">
                            <div class="col-md-1 ml-auto p-3 mb-2 btn btn-danger">
                                <svg
                                        class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16"
                                        fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                                    <path fill-rule="evenodd"
                                          d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                                          clip-rule="evenodd"/>
                                </svg>

                            </div>
                            <div class="col-md-11 ml-auto">Hier können Sie Ihre Belegungsdaten löschen.</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>