<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- /.container -->
    <script type="text/javascript" th:src="@{js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{js/popper.js}"></script>
    <script type="text/javascript" th:src="@{js/addons/datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{js/addons/datatables-select.min.js}"></script>
    <script type="text/javascript" th:src="@{js/lodash.js}"></script>
    <script type="text/javascript" th:src="@{js/main.js}"></script>
</div>

<!-- Footer -->
<footer class="footer">
    <div class="navbar navbar-dark fixed-bottom noto-footer">
        <span class="text-muted">© Gruppe 2 2020</span>
    </div>
</footer>
<!-- Footer -->