<div th:fragment="navigation" xmlns:th="http://www.w3.org/1999/xhtml">
    <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{img/logo.png}" width="33" height="33" class="d-inline-block align-top">
        Niederösterreich Tourismusinformation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div th:if="${actualUser}">
            <div th:switch="${actualUser.getSpecificRole()}">
                <div th:case="'Admin'">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/hotel}">Hotels</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin}">Admin</a>
                        </li>
                    </ul>
                </div>
                <div th:case="'User'">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/hotel}">Hotels</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
            <a th:if="${actualUser}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="navbar-text font-italic font-weight-light">Willkommen
                    <span th:text="${actualUser.getFullName()}"></span>
                </span>
            </a>
            <div sec:authorize="isAuthenticated()" class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                <a class="dropdown-item glyphicon glyphicon-log-in" th:href="@{/logout}">Logout</a>


            </div>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>

            <a href="#" data-toggle="modal" data-target="#hilfe">
                <svg class="bi bi-question" width="2em" height="2em" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                </svg>
            </a>
        </li>
    </ul>
</div>
